{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Hello Properties</title>
	<!-- bootstrap-css -->
	<link href="{% static 'css/bootstrap.css' %} " rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
	<!-- css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" media="all" />
	<!--// css -->
	<!-- font-awesome icons -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
	<!-- //font-awesome icons -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all">

</head>
<style type="text/css">
body{
            background-image: url("{% static 'images/k2.jpg' %}");
            background-size: cover;
            background-attachment: fixed;
        }
    </style>

<body>
	<!-- header -->
	<div class="header">
		<div class="main_header">
			<div class="header_nav">
				<nav class="navbar navbar-default">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbart">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<div class="collapse navbar-collapse navbar-right" id="navbart">
						<nav class="nav_starts">
							<ul class="nav navbar-nav">
								<li><a href="http://127.0.0.1:8000/">Home</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">TRACK <b class="caret"></b></a>
									<ul class="dropdown-menu nav_dropdown">
										<li><a href="buyres.html">ORDER STATUS</a></li>
										<li><a href="buycomm.html">CANCEL ORDER</a></li>
									</ul>
								</li>

								<li class="dropdown">
									   <li><a href="http://localhost:8000/cartapp/cart">click here to cart</a></li>
                                </li>
								<li><a href="http://localhost:8000/authapp/signup">Sign Up</a></li>
                                <li><a href="http://localhost:8000/authapp/login">Sign In</a></li>
								<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-bars fa-1x" aria-hidden="true"></i></a>
									<ul class="dropdown-menu nav_dropdown">
										<li><a href="profile.html">My Profile</a></li>
										<li><a href="shortlist.html">My Shortlist</a></li>
										<li><a href="sell.html">Sell/Rent Property</a></li>
										<li><a href="news.html">News</a></li>
										<li><a href="#">Price Trends</a></li>
									</ul>
								</li>
							</ul>
						</nav>
				    </div>
				</nav>
				<form action="/productapp/search">
                    {% csrf_token %}
            <select
                    title="Search in"
                    name="pcat"
                >

    <div class="nav-left">
      <div id="nav-search-dropdown-card">


        <option selected="selected" value="search-alias=aps">All Categories</option>
        <option value="MOBILES">MOBILES</option>
        <option value="LAPTOPS">LAPTOPS</option>
        <option value="REFRIGERATORS">REFRIGERATORS</option>
        <option value="TVS">TVS</option>
        <option value="BAGS">BAGS</option>
        <option value="PLASTIC">PLASTIC</option>
        <option value="SOUND SYSTEM">SOUND SYSTEM</option>
        <option value="SHIRTS">SHIRTS</option>
        <option value="AC'S">AC'S</option>
      </div>
    </div>
</select>

                    <input type="text" name="pname" placeholder="enter product name"><br>
            <input type="submit" value="Search">
                </form>





    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smooth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<script src="{% static 'js/bootstrap.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
	<!-- carousel -->
	<script src="{% static 'js/owl.carousel.js' %}"></script>
	<script src="{% static 'js/testimonials-slider.js' %}"></script>
	<!-- //carousel -->

    <!-- range_slider -->
    <script src="{% static 'js/range-slide.js' %}"></script>
    <!-- //range_slider -->

    <!-- font_icons -->
    <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' %}" type="text/javascript"></script>
    <!-- //font_icons -->

    <!-- slider -->
    <script src="{% static 'js/mainpage-slider.js' %}"></script>
    <!-- //slider -->
            </div>
        </div>
    </div>

</body>
</html>
</html>
